.itemDetailImg {
  width: 500px;
  height: auto;
  border-radius: 1rem;
}

.detailContainer {
  box-shadow: 0px 5px 20px rgb(193, 193, 193);
  border-radius: 1rem;
  width: 500px;
  padding: 10px;
  padding-top: -20px;
}
