.cartIcon {
  font-size: 1.5rem;
  padding: 5px;
  /* background-color: #413f3f; */
  border-radius: 20%;
  margin-right: 20px;
  color: white;
}

.counter {
  top: 0;
  font-size: 10px;
  position: fixed;
}

.cartIcon:hover {
  transform: scale(1.1);
}
