.cartIcon {
  font-size: 1.5rem;
  padding: 5px;
  background-color: #414141;
  border-radius: 20%;
  margin-right: 20px;
}

.counter {
  top: 0;
  font-size: 10px;
  position: fixed;
}

.cartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: auto; /* Agrega un margen izquierdo automático para empujar el carrito hacia la derecha */
}
