.navbarContainer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.Navbar {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 4rem;
  gap: 1vw;
  background-color: rgba(18, 18, 18, 0.8);
  color: white;
  font-family: Roboto;
  z-index: 1;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  backdrop-filter: blur(5px);
  transition: 0.1s ease-out;
}

.navbarButton {
  margin-right: 10px;
  border-radius: 5px;
  height: 2rem;
  background: none;
  backdrop-filter: blur(5px);
  font-family: Roboto;
  font-size: 16px;
  color: white;
}

.navbarButtonContainer {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 10px;
}
.navbarButtonContainer button {
  width: 100%;
  cursor: pointer;
}

.navbarButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.cartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: auto; /* Agrega un margen izquierdo automático para empujar el carrito hacia la derecha */
}

.cartContainer:hover {
  cursor: pointer;
}
.navLinksContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navBarLogo {
  height: 3rem; /* Reduce el tamaño del logo */
  margin-right: 1rem; /* Agrega un margen derecho */
  margin-left: 10px;
}
.navBarLogo:hover {
  cursor: pointer;
}

.textField input {
  color: white;
}

@media screen and (max-width: 850px) {
  .navLinksContainer {
    display: none;
  }
  .homeButtons {
    flex-wrap: wrap;
  }
  .Navbar {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
  }
}
