/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  color: var(--plum);
  background-color: white;
}

/* Header */
header {
  background-color: var(--true-blue);
  color: white;
}

/* Menú de navegación */
nav {
  background-color: var(--argentinian-blue);
  color: white;
}

/* Enlaces */
a {
  color: var(--deep-sky-blue);
}

/* Botones */
button {
  background-color: var(--aqua);
  color: white;
  border: none;
  padding: 1em;
  border-radius: 0.5em;
  cursor: pointer;
}

/* Sección de productos */
.products-section {
  background-color: var(--plum);
  color: white;
}

/* Pie de página */
footer {
  background-color: var(--true-blue);
  color: white;
}
