.cardContainer {
  transition: transform 0.3s ease-in-out;
}

.cardContainer:hover {
  transform: translateY(-20px);
  transition: transform 0.1s ease;
}

.cardContainer:not(:hover) {
  transform: translateY(0);
  transition: transform 0.1s ease-in-out;
}
